<!-- Home#index -->
<h3>Current User: <%= current_user.email %></h3>

<h2>Look for a Friend</h2>
<div class="search">
<%= form_tag(home_index_path, method: :get, class: "form-inline my-2 my-lg-0") do %>
    Search By User Email <%= text_field_tag :search, params[:search], class: "form-inline my-2 my-lg-0 ml-2" %>
    <%= submit_tag 'Search ðŸ”', name: nil, class: "btn btn-outline-success btn-sm form-inline my-2 my-sm-0 ml-2" %>
<% end %>
</div> 

<p>Add a Friend</p>
<ul>
	<% @possible_friends.each do |user| %>
      <li><%= user.email %><%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :create %></li>
	<% end %>
</ul>

<!-- List of friend requests sent by current_user -->
<h2>Friend Requests Sent</h2>
<ul>
	<% @friendships.all_friendships_pending.each do |friendship| %>
      <li><%= friendship.friend.email %>  <%= link_to "Pending", "#", class: "btn btn-warning btn-sm"%>  <%= link_to "Cancel", friendship_path(friendship), class: "btn btn-sm btn-danger", :method => :delete %> </li>
	<% end %>
</ul>

<!-- List of friend requests received -->
<h2>Friend Requests Received</h2>
<ul>
	<% @friend_requests.each do |friendship| %>
      <li><%= friendship.user.email %>  
      	  <%= link_to "Pending", "#", class: "btn btn-warning btn-sm"%>
      	  <%= form_with(model: friendship, local: true) do |form| %>
      	    <%= form.hidden_field :friendship_confirmed, :value => true %>
      	    <%= form.submit class: "btn btn-sm btn-success" %>  
      	  <% end %>
      </li>
	<% end %>
</ul>

<!-- My attempt to create a single list of friends where current_user is the user_id OR the friend_id -->
<h2>My Confirmed Friends </h2>
<ul>
<% @my_friendships.each do |friendship| %>
  <li><%= friendship.friend.email %> <%= link_to "Un-Friend", friendship_path(friendship), class: "btn btn-sm btn-danger mb-2", :method => :delete %></li>
<% end %>
<!-- </ul>
<h2>People Who Friended Me</h2>
<ul> -->
<% @received_friendships.each do |friendship| %>
  <li><%= friendship.user.email %> <%= link_to "Un-Friend", friendship_path(friendship), class: "btn btn-sm btn-danger mb-2", :method => :delete %></li>
<% end %>
</ul>

<h2>All my Friends Combined</h2> 
<!-- Note that these are friends and inverse_friends, but not friendships -->
<ul>
<% @combined_friends.each do |friend| %>
  <li><%= friend.email %></li>
<% end %>
</ul>

