<!-- Home#index -->

<div class="row">
  <div class="col">
  	<div class="card text-center">
  		<div class="card-header">
			<h2 class="card-title">Look for a Friend</h2>
		</div>
		<div class="card-body">
			<div class="search text-center">
				<%= form_tag(home_index_path, method: :get, class: "my-2 my-lg-0") do %>
				    Search By User Email <%= text_field_tag :search, params[:search], class: "my-2 my-lg-0 ml-2 text-center" %>
				    <%= submit_tag 'Search ðŸ”', name: nil, class: "btn btn-outline-success btn-sm form-inline my-2 my-sm-0 ml-2" %>
				<% end %>
			</div>
			<% if @possible_friends %>
			  <h3 class="card-title text-center mt-3">Add a Friend</h3>
				<ul>
					<% @possible_friends.each do |user| %>
				      <li class="list-unstyled"><%= user.email %>  <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :create, class: "btn btn-success btn-sm form-inline my-2 my-sm-0 ml-2" %></li>
					<% end %>
				</ul>
			<% end %>
		</div>
	</div>
  </div> 
</div>

<!-- List of friend requests sent by current_user -->
<div class="row mt-4 mb-4">
    <div class="col">
  	    <div class="card text-center">
	  		<div class="card-header">
				<h2 class="card-title">Friend Requests Sent</h2>
			</div>
			<div class="card-body">
				<ul>
					<% @friendships.all_friendships_pending.each do |friendship| %>
				      <li class="list-unstyled"><%= friendship.friend.email %>  <%= link_to "Pending", "#", class: "btn btn-warning btn-sm"%>  <%= link_to "Cancel", friendship_path(friendship), class: "btn btn-sm btn-danger", :method => :delete %> </li>
					<% end %>
				</ul>
			</div>
	    </div>
    </div>
</div>

<!-- List of all my confirmed friendships -->
<div class="row mt-4 mb-4">
    <div class="col">
  	    <div class="card text-center">
	  		<div class="card-header">
				<h2 class="card-title">All of My Confirmed Friendships</h2>
			</div>
			<div class="card-body">
				<ul>
					<% @all_my_friendships.each do |friendship| %>
					  <% unless friendship.friend.email == current_user.email %>
				        <li class="list-unstyled"><%= friendship.friend.email %> <%= link_to "Un-Friend", friendship_path(friendship), class: "btn btn-sm btn-danger mb-2", :method => :delete %> </li>
				      <% else %>
				        <li class="list-unstyled"><%= friendship.user.email %> <%= link_to "Un-Friend", friendship_path(friendship), class: "btn btn-sm btn-danger mb-2", :method => :delete %> </li>
				      <% end %>
					<% end %>
				</ul>
			</div>
	    </div>
    </div>
</div>


<!-- List of friend requests received -->
<div class="row mt-4 mb-4">
    <div class="col">
  	    <div class="card text-center">
	  		<div class="card-header">
				<h2 class="card-title">Friend Requests Received</h2>
			</div>
			<div class="card-body">
				<ul>
					<% @friend_requests.each do |friendship| %>
				      <li class="list-unstyled"><%= friendship.user.email %>  
				      	  <%= link_to "Pending", "#", class: "btn btn-warning btn-sm"%>
				      	  <%= form_with(model: friendship, local: true, :html => { :style => 'display:inline;' }) do |form| %>
				      	    <%= form.hidden_field :friendship_confirmed, :value => true %>
				      	    <%= form.submit "Accept", class: "btn btn-sm btn-success" %>  
				      	  <% end %>
				      </li>
					<% end %>
				</ul>
			</div>
	    </div>
    </div>
</div>


<!-- List of all my friends -->
<div class="row mt-4 mb-4">
    <div class="col">
  	    <div class="card text-center">
	  		<div class="card-header">
				<h2 class="card-title">All My Friends</h2>
			</div>
			<div class="card-body">
				<ul>
					<% @combined_friends.sort.each do |friend| %>
					  <li class="list-unstyled"><%= friend.email %> </li>
					<% end %>
				</ul>
			</div>
	    </div>
    </div>
</div>
